<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.commandline" />
  <package id="7zip.install" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="ccleaner" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-uninstall.extension" />
  <package id="chocolatey" />
  <package id="ChocolateyGUI" />
  <package id="ConEmu" />
  <package id="curl" />
  <package id="docker" />
  <package id="DotNet4.5.2" />
  <package id="dropbox" />
  <package id="Executor" />
  <package id="filezilla" />
  <package id="git" />
  <package id="git.install" />
  <package id="nodist" />
  <package id="NuGet.CommandLine" />
  <package id="pandoc" />
  <package id="php" />
  <package id="PowerShell" />
  <package id="procexp" />
  <package id="R.Project" />
  <package id="ruby" />
  <package id="ruby.devkit" />
  <package id="teraterm" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="Wget" />
  <package id="winmerge" />
</packages>
