root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.js]
indent_size = 4

[*.css]
indent_size = 2

[*.scss]
indent_size = 2

[*.html]
indent_size = 0
insert_final_newline = false
